.App {
  text-align: center;
  color: white;
  background-color:white ;
}

.header{
  background-color:blue;
  padding: 5px;
}
.movie{
  color: black;
  background-color:rgb(219, 212, 212);
  border: 1px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  margin-top: 14px;
  width: 22%;
}
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
  padding: 14px;
  
  
}
.movie img{
  height: 220px;
  width: 100%;
}